 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Allergiess</title>
  </head>
  <body>
    <h1>What is your Allergy Score?</h1>
    <form action="/response" method="post">
    <input name="score" placeholder="Allergy score">
  </body>
</html>
